doctype html
html(ng-app="collabteambuilder")
	head
		title Collaborative Teambuilder
	body

		p
			a(href="/") Home 

		state-loading-indicator(class="loadingInd")
		div(ng-hide="isStateLoading")

			div(ui-view)


		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel="stylesheet" href="/javascripts/angular-spinkit/build/angular-spinkit.min.css")
		
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.js')
		//- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js')
		script(src="/javascripts/textAngular-sanitize.js")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.js')
		script(src="/javascripts/angular-spinkit/build/angular-spinkit.min.js")
		//- script(src="https://platform.twitter.com/widgets.js")
		//- script(src="/javascripts/angular-socialshare/angular-socialshare.min.js")
		//- script(src="https://raw.githubusercontent.com/krisk/fuse/master/src/fuse.min.js")
		//- script(src="https://ocappa.herokuapp.com/javascripts/fuse.min.js")
		//- script(src="/javascripts/fuse.min.js")
		script(src="/javascripts/ngclipboard.min.js")
		script(src="/javascripts/angular-clipboard.js")
		script(src="https://cdn.socket.io/socket.io-1.4.5.js")
		script(src="/javascripts/sticky.js")
		script(src="/javascripts/app.module.js")
		script(src="/javascripts/app.directive.focusOn.js")
		script(src="/javascripts/app.factory.createRoom.js")
		script(src="/javascripts/app.factory.rooms.js")
		script(src="/javascripts/app.factory.dex.js")
		script(src="/javascripts/app.controller.mainCtrl.js")
		script(src="/javascripts/typeChart.js")
		script(src="/javascripts/natures.js")
		script(src='/javascripts/app.controller.roomCtrl.js')
		script(src="/javascripts/app.config.router.js")