	<p>Created by 
			<a href="http://www.smogon.com/forums/members/lemonade.67440/">Lemonade.</a></p>

	<p>This is a collaborative teambuilder. Anyone with access to the URL can join in, so be careful who you share it with. There are still a couple features to improve and a lot to make prettier, but the basics are there so you can teambuild with your friends.</p>

	<a href="#" ng-click="createRoom()">Create Room</a> <br />
	<span ng-bind="roomID"></span> <br />

	<a href="/#/rooms/{{roomID}}">Go To Room</a>
	
	<p>Each room is saved, so you can go back to it as long as you remember the URL.</p>

	<a href="/#/misc">Misc.</a>

	<a href="https://gonefroggin.wordpress.com/">Frugs</a>

	<link rel='stylesheet' href='/stylesheets/style.css'></link>