
<p>the room id is <span ng-bind="roomID"></span></p>
<p ng-bind="currentInput"></p>
<p>tier: 


<!-- 	<select ng-model="tiers">
		<option value="Uber" ng-click="showMons('Uber')">Uber</option>
		<option value="OU" ng-click="showMons('OU')">OU</option>
		<option value="UU" ng-click="showMons('UU')">UU</option>
		<option value="RU" ng-click="showMons('RU')">RU</option>
		<option value="NU" ng-click="showMons('NU')">NU</option>
		<option value="PU" ng-click="showMons('PU')">PU</option>
		<option value="LC" ng-click="showMons('LC')">LC</option>
	</select> -->

	<select ng-options="t for t in tiers | filter: '!BL'" ng-model="selectedTier"></select>
	 <!-- ng-change="showMons()" -->

	<span ng-bind="selectedTier.name"></span>


</p>
<div>
	<table>
		<tr>

			
				<!-- <td><img ng-src="https://play.pokemonshowdown.com/sprites/bw/sneasel.png" /></td> -->
				<td ng-repeat="ind in partySize"><img ng-src="{{getPokeSprite(ind)}}" /></td>
		</tr>

		<tr>
			
				<td ng-repeat="ind in partySize"><a href="" ng-click="changeWhichMon(ind)" ng-bind="party['pokemon' + ind].name || 'Pokemon' + ind"></a></td>
			


		</tr>
	</table>
</div>
<br />
<div ng-repeat="num in partySize track by $index">
	
	<span ng-show="num === whichMonToShow">
		<div>
			Pokemon <span ng-bind="num"></span>: <input ng-model="party['pokemon' + num].name" ng-keyup="findRelMons(num)"></input> @ Item: <input ng-model="party['pokemon' + num].item" ng-keyup="findRelItems(num)"></input>
		</div>


		<div>
			Ability: <span ng-bind="getAbility(0, num)"></span> / <span ng-bind="getAbility(1, num)"></span> / <span ng-bind="getAbility(H, num)"></span>
		</div>

		<div>
			EVs: 
			<span ng-repeat="ev in evs track by $index">
				<span ng-bind="ev"></span>: 
				<input size="3" ng-model="party['pokemon' + $parent.num].EVs[ev]" ng-keyup="fillEVs($parent.num, ev)"></input> 
				
			</span>
		</div>

		<div>
			<input></input> Nature
		</div>
		

		<div ng-repeat="moveNum in moveSize track by $index">

			Move <span ng-bind="moveNum"></span>: <input ng-model="party['pokemon' + $parent.num]['move' + moveNum]" ng-keyup="findRelMoves($parent.num + moveNum)"></input>

		</div>




	</span>

</div>



<div ng-repeat="mon in r.pokedex | orderBy:tierSort">
  <table>
    <tr>
      <td>
      	<a href="" ng-click="fillInput(mon.species)"><span ng-bind="mon.species"></span></a>
      </td>

      <td>
      	<span ng-bind="mon.tier"></span>
      </td>
    </tr>
  </table>
</div>

<div ng-repeat="item in r.itemdex">
  <table>
    <tr>
      <td>
      	<a href="" ng-click="fillInputItem(item.name)"><span ng-bind="item.name"></span></a>
      </td>

    </tr>
  </table>
</div>

<div ng-repeat="move in r.movedex">
  <table>
    <tr>
      <td>
      	<a href="" ng-click="fillInputMove(move.name)"><span ng-bind="move.name"></span></a>
      </td>
<!--  -->
    </tr>
  </table>
</div>

<br />
<textarea rows="30" cols="50" ng-keyup="gDocsIt($event)" ng-model="text"></textarea>
