
<p>the room id is <span ng-bind="roomID"></span></p>

<p>tier: 


	<select ng-model="tiers">
		<option value="Uber" ng-click="showMons('Uber')">Uber</option>
		<option value="OU" ng-click="showMons('OU')">OU</option>
		<option value="UU" ng-click="showMons('UU')">UU</option>
		<option value="RU" ng-click="showMons('RU')">RU</option>
		<option value="NU" ng-click="showMons('NU')">NU</option>
		<option value="PU" ng-click="showMons('PU')">PU</option>
		<option value="LC" ng-click="showMons('LC')">LC</option>
	</select>

</p>

<div ng-repeat="num in partySize track by $index">
	Pokemon <span ng-bind="num"></span>: <input ng-model="party['pokemon' + ($index + 1)]" ng-keyup="findRelMons($index)"></input>


	<!-- <input ng-model="pokemon{{$index}}" ng-keyup="findRelMoves($event)" id="pokemon{{$index}}"></input> -->

</div>


<!-- Pokemon 1: <input ng-model="pokemon1" ng-keyup="findRelMons($event)" id="pokemon1"></input>

Pokemon 2: <input ng-model="pokemon2" ng-keyup="findRelMons($event)" id="pokemon2"></input> -->


<div ng-repeat="mon in r.pokedex | orderBy:tierSort">
  <table>
    <tr>
      <td>
      	<a href="" ng-click="fillInput(mon.species)"><span ng-bind="mon.species"></span></a>
      </td>

      <td>
      	<span ng-bind="mon.tier"></span>
      </td>
    </tr>
  </table>
</div>

<br />
<textarea rows="30" cols="50" ng-keyup="gDocsIt($event)" ng-model="text"></textarea>
