html, body 
{
  padding: 25px;
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
}

a 
{
  color: #00B7FF;
}

td 
{
	width: 150px;
}

div
{
	margin-top: 10px;
}

textarea
{
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;	
}

.wholeChat
{
	background-color: #f0f0f0;


	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 300;
	margin: 0px 10px 20px 0px;
}

.wholeChat input
{

}

.chat
{
	width: 250px;
	height: 300px;
	overflow: scroll;


}