html, body 
{
  padding: 10px;
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
}

a 
{
  color: #006186;
}

td 
{
	width: 150px;
}

div
{
	margin-top: 10px;
}

textarea
{
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;	
}

input:focus
{
	box-shadow: 2px 2px #8BAED1;
}

.wholeChat
{
	background-color: #EDF3F4;


	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 300;
	margin: 0px 10px 20px 10px;
}

.export
{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
/*	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 300;
	margin: 0px 0px 10px 10px;*/
}

.topRight
{
	float: right;
	margin-right: 5px;
}

.showChat
{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 300;
	margin: 0px 10px 10px 0px;
}

.chatNav
{
	margin-left: 5px;
}

.chatNav a
{
	color: #006186;
	padding: 0px 2px 0px 2px;
	border-style: ridge;
	text-decoration: none;
	border-radius: 3px;
}

.wholeChat input
{
	margin-top: 5px;
	
}

.wholeChat span
{
	margin-left: 5px;
}



.wholeChat li
{
	list-style-type: none;
	margin: 0px 0px 0px -35px;
}

.inconsistencies li
{
	list-style-type: square;
	margin-left: -20px;
}

.wholeChat .inputMes
{
	width: 100%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.chat
{
	width: 300px;
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
	padding: 5px 5px 5px 10px;


}

.damageCalc
{
	width: 300px;
	height: 327px;
	overflow: scroll;
	overflow-x: hidden;
	padding: 5px 5px 5px 10px;
}

.dispDmgCalcs td
{
	width: auto;
}
